<% provide :header, 'Flight booker' %>

<div class="row">
  <%= form_tag '/', method: :get do %>
    <div class="col-md-3 form-group">
      <%= label_tag 'from' %>
      <%= select_tag 'from', options_from_collection_for_select(@airports, 'id', 'city', params[:from] || 1), class: 'form-control' %>
    </div>
    <div class="col-md-3 form-group">
      <%= label_tag 'to' %>
      <%= select_tag 'to', options_from_collection_for_select(@airports, 'id', 'city', params[:to] || 2), class: 'form-control' %>
    </div>
    <div class="col-md-3 form-group">
      <%= label_tag 'date' %>
      <%= date_field_tag 'date', params[:date] || Time.now.strftime("%Y-%m-%d"), class: 'form-control' %>
    </div>
    <div class="col-md-3 form-group">
      <%= label_tag 'passengers' %>
      <%= select_tag 'passengers', options_for_select([[1, 1], [2, 2], [3, 3], [4, 4]], params[:passengers] || 1), class: 'form-control', id: 'passengers_dropdown' %>
    </div>
    <%= submit_tag 'Find flights', class: 'btn btn-primary' %>
  <% end %>
</div>

<% unless !@flights || @flights.empty? %>
  <div class="row">
    <%= form_tag new_booking_path, method: :get do %>
      <%= hidden_field_tag 'passengers', params[:passengers], id: 'passengers_hidden' %>
      <table class="table table-striped text-left">
        <tr>
          <th></th>
          <th>From</th>
          <th>To</th>
          <th>Departure time</th>
          <th>Duration</th>
        </tr>
        <% @flights.each do |flight| %>
          <tr>
            <td><%= radio_button_tag 'flight_id', flight.id %></td>
            <td><%= flight.from.city %></td>
            <td><%= flight.to.city %></td>
            <td><%= flight.start.strftime("%H:%M") %></td>
            <td><%= duration_from_minutes(flight.duration) %></td>
          </tr>
        <% end %>
      </table>
      <%= submit_tag 'Book', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
