<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,100' rel='stylesheet' type='text/css'>
  <title>OdinFlightBooker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container text-center">
    
    <div class="row">
      <div class="col-xs-12">
        <h1><%= yield(:header) %></h1>
        <nav>
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'About', page_path('about') %></li>
          </ul>
        </nav>
      </div>
    </div>
    
    <% if flash[:error] %>
      <div class="row">
        <div class="col-xs-12">
          <p class="flash-message"><%= flash[:error] %></p>        
        </div>
      </div>
    <% end %>
    
    <div class="row">
      <div class="col-xs-12">
        <%= image_tag 'plane.jpg', alt: 'Airplane drawn in pencil' %>
      </div>
    </div>
    
    <%= yield %>
    
  </div>
  
</body>
</html>
